[flake8]
ignore = 
    E402  # Sometimes it's ok not to have imports at the top of the file
exclude = .git, __pycache__, data/, docs/, .pytest_cache \
    .vscode/, migrations/, venv/, .env, app.db
max-line-length = 120